
body {
	background-color: #f4f4f2;
}

h2 {
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 30px;
	color: white;
}

.index {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 15vh;
	border-radius: 15px;
	background-color: #bbbfca;
	width: 400px;
  	height: 400px;
  	padding: 30px 15px;
}

.logo {
	height: 80px;
}


.button {
	background-color: white; 
	border-radius: 15px;
	color: #bbbfca;
	padding: 10px 32px;
	margin: 30px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 25px;
	width: 100px;
}

.button:hover {
	background-color: #f4f4f2;
}